* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.not-found-container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 100px;
  margin: 0;
  color: #FF0000; /* Color rojo para el código 404 */
}

h2 {
  font-size: 24px;
  margin: 10px 0;
}

p {
  font-size: 18px;
}

.home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.home-button:hover {
  background-color: #0056b3;
}
